<h2 appLog>Learning Resources</h2>
<p>Helpful resources you might want to use in addition to this course.</p>

<ul>
  <li appLog>
    <!-- <a href="https://angular.dev" appSafeLink"myapp-dock-link" - позволяет добавить параметр к запросу appSafeLink 
      >Angular Documentation</a
    > -->

    <a href="https://angular.dev" appSafeLink queryParams="myapp-dock-link"
      >Angular Documentation</a
    >
  </li>
  <li appLog>
    <a
      href="https://academind.com/courses"
      appSafeLink
      queryParams="myapp-courses-link"
      >Academind Courses</a
    >
  </li>
  <li>
    <a
      href="https://www.google.com/search?q=angular"
      appSafeLink
      queryParams="myapp-google-link"
      >Google</a
    >
  </li>
</ul>
